header{
color:green;
font-size:30px;
border:solid 3px lightgreen;
width:960px;
margin-right:auto;
margin-reft:auto;
}
footer{
border:solid 3px lightgreen;
}
h1{

}
h2{

}
h3{

}
ul{

}
li{

}
dl{

}
dt{

}
dd{

}
table{

}
tr{

}
th{

}
td{

}
section{
border:solid 3px brown;
}
img{

}
