header{
color:green;
font-size:30px;
}
header, footer {
border: solid 3px lightgreen;
width: 960px;
  margin-right:auto;
  margin-left:auto;
text-align:center;
}
li{
list-style:circle;
list-style-position: inside;
}
section{
border:solid 3px brown;
width:960px;
height:640px;
  margin-right:auto;
  margin-left:auto;
text-align:center;
}
