header{
color:green;
font-size:30px;
}
footer{

}
header, footer {
border: solid 3px lightgreen;
width: 960px;
  margin-right:auto;
  margin-left:auto;
text-align:center;
}
h1{

}
h2{

}
ul{

}
li{

}
dl{

}
dt{

}
dd{

}
table{

}
tr{

}
th{

}
td{

}
section{
border:solid 3px brown;
display: block;
width:960px;
  margin-right:auto;
  margin-left:auto;
text-align:center;
}
img{

}
